---
import EnergyReport from '@reports/energy-2026';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Energy 2026 | Dash Magazin">
	<main>
		<EnergyReport />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
	}
</style>
